<template name="NpcharacterRequest">
  {{#each npcharacter_request}}
    <li>
      <p>{{title}} : {{npcharacterRequestDescription}}</p>
    </li>
  {{/each }}
  <!--client/views/npcharacter_request/npcharacter_request.html-->
</template>