<template name="Home">
  
    <div class="jumbotron"></div>
        <h1>Oh Hi, Mark.</h1>
          <p>I did not hit her! It's not true! It's bullshit! Idid not hit her! I did not!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    
</template>